
<ol class="assets">
	
<% @assets.each do |asset| %>

	<li class="thumb" id="<%= asset.id %>">
		
		<%= link_to asset do %>
			<span class="frame"><%= asset_image_tag asset, :medium %></span>
			<span class="name"><%= asset.to_s %></span>
		<% end %>
	</li>
<% end %>
</ol>


<% content_for :side do %>

<%= render 'form' %>
<%#= render 'crud' %>

<% end %>