<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />

	<title><%= content_for?(:title) ? yield(:title) : "House" %></title>

	<meta name="description" content="House is a convenient way to store sort and organise your digital assets">

	<meta name="author" content="Newfangled Pty Ltd" />
	<meta name="Copyright" content="Newfangled 2010. All Rights Reserved." />

	<meta name="DC.title" content="House" />
	<meta name="DC.subject" content="Easy asset management" />
	<meta name="DC.creator" content="Powered by Newfangled House" />


	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>

</head>
<body>

	<%= render :partial =>  'shared/flash_messages' unless flash.empty? %>
	

	<nav class="wrapper">
		<ul>
			<li><%= link_to 'Home', root_url %></li>
			<%= nav %>
		</ul>
	</nav>
	
	<section id="main" class="wrapper">
		
		<%= yield :title %>

		<div id="core">
			<!-- The main content in here -->
			<%= yield %>
		</div>
		
		<aside>
			<!-- Show options on the side -->
			<%= yield :side %>
		</aside>
		
	</section>
	
	<footer class="wrapper">
		House 
	</footer>

</body>
</html>
